@model ProyectoBAD.Models.Encuestum

@{
    ViewData["Title"] = "Crear Encuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="TituloEncuesta" class="control-label">Título de la Encuesta</label>
                    <input asp-for="TituloEncuesta" class="form-control" />
                    <span asp-validation-for="TituloEncuesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ObjetivoEncuesta" class="control-label">Objetivo de la Encuesta</label>
                    <input asp-for="ObjetivoEncuesta" class="form-control" />
                    <span asp-validation-for="ObjetivoEncuesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GrupometaEncuesta" class="control-label">Grupo Meta de la Encuesta</label>
                    <input asp-for="GrupometaEncuesta" class="form-control" />
                    <span asp-validation-for="GrupometaEncuesta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IndicacionesEncuesta" class="control-label">Indicaciones de la Encuesta</label>
                    <input asp-for="IndicacionesEncuesta" class="form-control" />
                    <span asp-validation-for="IndicacionesEncuesta" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-plus-circle"></i> Crear Encuesta
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver a la Lista
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
