@model ProyectoBAD.Models.Encuestado

@{
    ViewData["Title"] = "Datos del Encuestado";
}

<h2>Datos del Encuestado</h2>

<form asp-action="StartSurvey" method="post">
    <div class="form-group">
        <label asp-for="EmailEncuestado" class="control-label"></label>
        <input asp-for="EmailEncuestado" class="form-control" />
        <span asp-validation-for="EmailEncuestado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaNacEncuesta" class="control-label"></label>
        <input asp-for="FechaNacEncuesta" class="form-control" />
        <span asp-validation-for="FechaNacEncuesta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenEncuestado" class="control-label"></label>
        <input asp-for="GenEncuestado" class="form-control" />
        <span asp-validation-for="GenEncuestado" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="IdEncuestado" />
    <input type="hidden" name="id" value="@ViewBag.IdEncuesta" />
    <button type="submit" class="btn btn-primary">Comenzar Encuesta</button>
</form>

