@model ProyectoBAD.Models.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-4">
    <div class="card container px-0" style="width: 500px;">
        <form asp-action="Create">
            <div class="card-header text-center">
                <h1>Crear nuevo usuario</h1>
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input hidden type="number" value="@ViewData["cantUsuarios"]" asp-for="IdUsuario" class="form-control" />
                    <span asp-validation-for="IdUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailUsuario" class="control-label">Correo electrónico</label>
                    <input asp-for="EmailUsuario" class="form-control" />
                    <span asp-validation-for="EmailUsuario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PrimerNombreUsuario" class="control-label">Primer nombre</label>
                    <input asp-for="PrimerNombreUsuario" class="form-control" />
                    <span asp-validation-for="PrimerNombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SegundoNombreUsuario" class="control-label">Segundo Nombre</label>
                    <input asp-for="SegundoNombreUsuario" class="form-control" />
                    <span asp-validation-for="SegundoNombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrimerApellidoUsuario" class="control-label">Primer Apellido</label>
                    <input asp-for="PrimerApellidoUsuario" class="form-control" />
                    <span asp-validation-for="PrimerApellidoUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SegundoApellidoUsuario" class="control-label">Segundo Apellido</label>
                    <input asp-for="SegundoApellidoUsuario" class="form-control" />
                    <span asp-validation-for="SegundoApellidoUsuario" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="TelefonoUsuario" class="control-label">Teléfono Movil</label>
                            <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="8" max="99999999" asp-for="TelefonoUsuario" class="form-control" />
                            <span asp-validation-for="TelefonoUsuario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="GenUsuario" class="control-label">Genero</label>
                            <select class="form-control" asp-for="GenUsuario">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                            <span asp-validation-for="GenUsuario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 "> <a class="btn btn-secondary text-white" asp-action="Index">Regresar</a> </div>
                    <div class="col-6 text-right"> <input type="submit" value="Guardar" class="btn btn-primary" /> </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
