<div class="container text-center">
    <i class="fas fa-ban text-danger" style="font-size: 6em;"></i>
    <h4 class="card-text mb-4"><span class="text-danger" style="font-size: 3em;">403<br /></span>Parece que no tienes permisos para esta función</h4>
    <a class="btn btn-danger" href="/">Volver a inicio</a>
</div>
