@model ProyectoBAD.Models.Encuestado

@{
    ViewData["Title"] = "Eliminar Encuestado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Eliminar Encuestado</h1>

    <div class="card" style="max-width: 500px;">
        <div class="card-body">
            <h3>¿Estás seguro de que deseas eliminar al encuestado con correo "@Model.EmailEncuestado"?</h3>
            <hr />

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdEncuestado" />

                <div class="btn-group">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
