@model ProyectoBAD.Models.Opcionpreguntum

@{
    ViewData["Title"] = "Crear Opción de Pregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center my-4">Crear Opción de Pregunta</h1>

<div class="container">
    

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdPregunta" value="@ViewBag.IdPregunta" />

        <div class="form-group">
            <label asp-for="ValorOpcion" class="control-label">Opción</label>
            <input asp-for="ValorOpcion" class="form-control" />
            <span asp-validation-for="ValorOpcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DescripcionOpcion" class="control-label"></label>
            <input asp-for="DescripcionOpcion" class="form-control" />
            <span asp-validation-for="DescripcionOpcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EstadoOpcion" class="control-label"></label>
            <input asp-for="EstadoOpcion" class="form-control" />
            <span asp-validation-for="EstadoOpcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OrdenOpcion" class="control-label"></label>
            <input asp-for="OrdenOpcion" class="form-control" />
            <span asp-validation-for="OrdenOpcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
